########################################
# macOS SYSTEM FILES
########################################
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
Thumbs.db
.Spotlight-V100
.Trashes

########################################
# RUBY / BUNDLER / RBENV
########################################
.bundle/
vendor/
Gemfile.lock
.rbenv-version
.rbenv-gemsets
.rbenv/plugins/
.ruby-version
.ruby-gemset

########################################
# JEKYLL BUILD OUTPUT
########################################
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

########################################
# RStudio-specific files
########################################
.Rproj.user/
*.Rproj
.Rhistory
.RData
.Ruserdata

########################################
# TEMP FILES
########################################
*~
*.swp
*.tmp
*.bak

########################################
# OTHER
########################################
*.log



