// ---------------------------------------------
// on/off theme switch in navbar
// ---------------------------------------------
.theme-toggle.custom-switch {
  display: flex;
  justify-content: center;

  input[type="checkbox"] {
    display: none;
  }

  label {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 26px;
    background-color: $dim-gray;
    border-radius: 26px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    .icon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 14px;
      transition: all 0.3s ease;
    }

    .sun {
      left: 8px;
      opacity: 0;
      color: $Metallic_Gold;
    }

    .moon {
      right: 8px;
      opacity: 1;
      color: $Dark_Copper;

    }
  }

  input[type="checkbox"]:checked + label {
    background-color: lighten($dim-gray, 5%);

    .sun {
      opacity: 1;
    }

    .moon {
      opacity: 0;
    }
  }
}

// ---------------------------------------------
// Contact Form on contact page
// ---------------------------------------------
#contact-form {

  padding: 2rem;
  border-radius: 0.75rem;

  // Label text
  .form-label {
    font-weight: 600;
  }

  // Input fields and textarea
  .form-control {
    border-radius: 0.5rem;
    transition: all 0.2s ease;
  }

  // Submit button
  .btn-primary {
    font-weight: 600;
  }

  // Success/failure messages
  #form-status {
    font-weight: 500;
  }
}

// ---------------------------------------------
// Accordian for publications
// ---------------------------------------------
.accordion {

  .accordion-item {
    border-radius: 0.75rem;
    margin-bottom: 1rem;
    overflow: hidden;
  }

  .accordion-button {
    font-weight: 600;
    padding: 1rem 1.25rem;
    transition: all 0.25s ease;
  }

  .accordion-body {
    padding: 1.25rem;
  }
}

// ---------------------------------------------
// blog post cards
// ---------------------------------------------
.post-card {
  transition: opacity 1s ease, transform 1s ease;
  opacity: 1;
  transform: scale(1);
}

.post-card.is-hiding {
  opacity: 0;
  transform: scale(0.7);
  pointer-events: none;
}

.post-card.hidden {
  opacity: 0;
  transform: scale(0.7);
  pointer-events: none;
  height: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

// ---------------------------------------------
// Figure for posts
// ---------------------------------------------
  .glow-frame {
  border-radius: 8px;
  max-width: 800px;
  width: 60%;
  margin: 1rem auto;
  display: block;
}

.glow-figure {
  text-align: center;
  margin: 2rem auto;
  max-width: 100%;

  figcaption {
    font-size: 0.9rem;
    margin-top: 0.5rem;
    font-style: italic;
  }
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
