// ---------------------------------------------
// on/off theme switch in navbar
// ---------------------------------------------
.theme-toggle.custom-switch {
  display: flex;
  justify-content: center;

  input[type="checkbox"] {
    display: none;
  }

  label {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 26px;
    background-color: $dim-gray;
    border-radius: 26px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    .icon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 14px;
      transition: all 0.3s ease;
    }

    .sun {
      left: 8px;
      opacity: 0;
      color: $Metallic_Gold;
    }

    .moon {
      right: 8px;
      opacity: 1;
      color: $Dark_Copper;

    }
  }

  input[type="checkbox"]:checked + label {
    background-color: lighten($dim-gray, 5%);

    .sun {
      opacity: 1;
    }

    .moon {
      opacity: 0;
    }
  }
}

// ---------------------------------------------
// Contact Form on contact page
// ---------------------------------------------
#contact-form {

  padding: 2rem;
  border-radius: 0.75rem;

  // Label text
  .form-label {
    font-weight: 600;
  }

  // Input fields and textarea
  .form-control {
    border-radius: 0.5rem;
    transition: all 0.2s ease;
  }

  // Submit button
  .btn-primary {
    font-weight: 600;
  }

  // Success/failure messages
  #form-status {
    font-weight: 500;
  }
}