/* ---------------------------------------
   Sidebar Styles
---------------------------------------- */

// Default Sidebar (desktop)
.sidebar {
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 1rem;
  flex-shrink: 0; // Prevents the sidebar from shrinking
}

// Sidebar on small screens (mobile)
@media (max-width: 768px) {
  .sidebar {
    position: static;
    width: 100%;
    height: auto;
    z-index: auto;
  }
}

/* ---------------------------------------
  Headshot
---------------------------------------- */
.sidebar-headshot {
  display: block;
  margin: 0 auto 1rem auto; // centers horizontally
  width: 180px;
  height: 180px;
  object-fit: cover;
}

@media (max-width: 900px) {
  .sidebar-headshot {
    width: 96px;
    height: 96px;
  }
}

/* ---------------------------------------
   Navigation Links
---------------------------------------- */

.nav-link {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-link.active {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.nav-link:hover {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

/* ---------------------------------------
   Social Icons
---------------------------------------- */

.social-icon {
  font-size: 1.5rem;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.2s ease;

  &:hover {
    transform: scale(1.1); // grow on hover
  }
}

/* ---------------------------------------
   Main Content Area
---------------------------------------- */

.main-content {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100vh;

  @media (min-width: 768px) {
    margin-left: 250px; // Leave room for sidebar on desktop
  }
}

// This needs to be outside of `.main-content` so it always applies
.page-title {
  font-size: 2.25rem;
  font-weight: bold;
  background-clip: text;
  color: transparent;
  letter-spacing: 0.5px;
  line-height: 1.2;
  margin-left: 1rem;
  display: inline-block;
}
/* ---------------------------------------
   Page Layout Wrapper
---------------------------------------- */

.page-wrapper {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

/* ---------------------------------------
   Site Header
---------------------------------------- */

.site-header {
  padding: 1rem;
  padding: 0;

  img {
    max-width: 100%;
    height: auto;
  }
}

/* ---------------------------------------
   Site Footer
---------------------------------------- */

.site-footer {
  text-align: center;
  padding: 1rem;
  margin-top: auto;
}
